custom_config.py
analysis
blac
cif
devtools
data
map
ndx
pdb
png
ribosomes*
slurm_output
slurm_jobs
systems
test_system
tutorial
.cache
.pytest_cache
__pycache__
.metadata
.DS_Store
*.pdb
*.pdf
*.egg*
*.npz
*.npy
*.xyz
*.tmp
*.pyc
*.o
*.cprof
*.h5
*.hdf5
*.pkl
.nfs*
*.c
.*.csv
*.swp
._*
*.dSYM
*.so
*.tar.gz
*.md5
.idea
*.out
*.pyf
*.mod
*~
.adxv*
*.aux
*.bbl
*.log
*.blg
*.synctex.*
*.dat
file_header_*.txt
workspace.xml