tmp
tests/systems
*data*
*slurm*
custom_config.py
.cache
.pytest_cache
__pycache__
.metadata
.DS_Store
*martini.itp
*martini_v3.0.0.itp
*.pdb
*.png
*.pdf
*.egg*
*.ndx
*.npz
*.npy
*.xyz
*.tmp
*.pyc
*.o
*.cprof
*.h5
*.hdf5
*.pkl
.nfs*
*.c
.*.csv
*.swp
*.dSYM
*.so
*.tar.gz
*.md5
.idea
*.out
*.pyf
*.mod
*~
.adxv*
*.aux
*.bbl
*.log
*.blg
*.synctex.*
*.dat
*.xtc
*.trr
*.lock
